force-app/main/default/flows/QQ_New_Quote2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AA_Create_PDF_Document</name>
        <label>Create PDF Document</label>
        <locationX>380</locationX>
        <locationY>3086</locationY>
        <actionName>QQ_CreateQuotePdf</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S_Confirmation_Screen</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>quoteId</name>
            <value>
                <elementReference>V_QuoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>PL_Quote_Template</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QQ_CreateQuotePdf</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AA_Redirect_to_Quote</name>
        <label>Redirect to Quote</label>
        <locationX>512</locationX>
        <locationY>3386</locationY>
        <actionName>c:QQ_NavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>V_QuoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationObjectType</name>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:QQ_NavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>A_Assign_Account_Id_1</name>
        <label>Assign Account Id</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>V_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LU_Select_Account.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GR_Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Account_Id_2</name>
        <label>Assign Account Id</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>V_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Contact_Id_1</name>
        <label>Assign Contact Id</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>V_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_New_Existing_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Contact_Id_2</name>
        <label>Assign Contact Id</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>V_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_Select_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GR_Get_Contact_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Contact_Record</name>
        <label>Assign Contact Record</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR_Get_Contact_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_New_Existing_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Opportunity_Id_1</name>
        <label>Assign Opportunity Id</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>V_OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UR_Update_Account_Default_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Opportunity_Id_2</name>
        <label>Assign Opportunity Id</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>V_OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UR_Update_Account_Default_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Opportunity_Id_3</name>
        <label>Assign Opportunity Id</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>V_OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PL_Select_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GR_Get_Opportunity_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Opportunity_Record</name>
        <label>Assign Opportunity Record</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR_Get_Opportunity_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UR_Update_Account_Default_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Quote_Details</name>
        <label>Assign Quote Details</label>
        <locationX>512</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>QuoteRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityRecord.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRecord.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CR_Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Quote_Id</name>
        <label>Assign Quote Id</label>
        <locationX>512</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>V_QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_Quote_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Updated_Details_1</name>
        <label>Assign Updated Details</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CR_Create_Contact_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Updated_Details_2</name>
        <label>Assign Updated Details</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_DefaultOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_DefaultQuoteExpiry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_DefaultOpportunityStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Updated_Details_3</name>
        <label>Assign Updated Details</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR_Get_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_DefaultOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_DefaultQuoteExpiry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_DefaultOpportunityStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GR_Get_Account.QQ_Default_Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_Select_Create_Contact_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Updated_Details_4</name>
        <label>Assign Updated Details</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CR_Create_Contact_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>A_Assign_Updated_Details_5</name>
        <label>Assign Updated Details</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>OpportunityRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CR_Create_Opportunity_2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>C_DefaultQuoteTemplate</name>
        <choiceText>{!$Setup.QQ_Config__c.Quote_Template_Name__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Setup.QQ_Config__c.Quote_Template_Id__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>D_Create_PDF</name>
        <label>Create PDF?</label>
        <locationX>512</locationX>
        <locationY>2978</locationY>
        <defaultConnector>
            <targetReference>S_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>O_Yes_CreatePDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CB_Create_PDF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AA_Create_PDF_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If this is the first run, then create the custom setting.</description>
        <name>D_First_Run</name>
        <label>First Run?</label>
        <locationX>627</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>D_Record_Id_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>O_Yes_First_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.QQ_Config__c.Opportunity_Stage_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SF_Run_Initial_Config</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_New_Existing_Account</name>
        <label>New/Existing Account</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>A_Assign_Account_Id_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Account</defaultConnectorLabel>
        <rules>
            <name>O_New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CB_Create_New_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CR_Create_Account</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_New_Existing_Contact</name>
        <label>New/Existing Contact</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>A_Assign_Contact_Id_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Contact</defaultConnectorLabel>
        <rules>
            <name>O_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CB_Create_New_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Updated_Details_4</targetReference>
            </connector>
            <label>New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_New_Existing_Opportunity</name>
        <label>New/Existing Opportunity</label>
        <locationX>710</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>A_Assign_Opportunity_Id_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Opportunity</defaultConnectorLabel>
        <rules>
            <name>O_New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CB_Create_New_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Updated_Details_5</targetReference>
            </connector>
            <label>New Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_Record_Id_Type</name>
        <label>Record Id Type</label>
        <locationX>1205</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>S_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>O_No_Record_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_Select_Create_Account</targetReference>
            </connector>
            <label>No Record Id</label>
        </rules>
        <rules>
            <name>O_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_Assign_Account_Id_2</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>O_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GR_Get_Contact_1</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>O_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GR_Get_Opportunity_1</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RC_Accounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RC_Contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RC_Opportunities</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_AccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>F_DefaultOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!AccountRecord.Name}&amp;&quot; - &quot;&amp;RIGHT(TEXT(YEAR(TODAY())), 2)&amp;TEXT(MONTH(TODAY()))&amp;TEXT(DAY(TODAY()))&amp;&quot; - Quick Quote&quot;</expression>
    </formulas>
    <formulas>
        <name>F_DefaultOpportunityStage</name>
        <dataType>String</dataType>
        <expression>{!$Setup.QQ_Config__c.Opportunity_Stage_Name__c}</expression>
    </formulas>
    <formulas>
        <name>F_DefaultQuoteExpiry</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$Setup.QQ_Config__c.Default_Quote_Validity__c}</expression>
    </formulas>
    <interviewLabel>Quicker Quotes: New Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Quicker Quotes: New Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CR_Create_Account</name>
        <label>Create Account</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>A_Assign_Updated_Details_1</targetReference>
        </connector>
        <inputReference>AccountRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CR_Create_Contact_1</name>
        <label>Create Contact</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>A_Assign_Updated_Details_2</targetReference>
        </connector>
        <inputReference>ContactRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CR_Create_Contact_2</name>
        <label>Create Contact</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>A_Assign_Contact_Id_1</targetReference>
        </connector>
        <inputReference>ContactRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CR_Create_Opportunity_1</name>
        <label>Create Opportunity</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>A_Assign_Opportunity_Id_1</targetReference>
        </connector>
        <inputReference>OpportunityRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CR_Create_Opportunity_2</name>
        <label>Create Opportunity</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>A_Assign_Opportunity_Id_2</targetReference>
        </connector>
        <inputReference>OpportunityRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CR_Create_Quote</name>
        <label>Create Quote</label>
        <locationX>512</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>A_Assign_Quote_Id</targetReference>
        </connector>
        <inputReference>QuoteRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CR_Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>512</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>UR_Update_Opportunity</targetReference>
        </connector>
        <inputReference>LWC_QuoteProducts.quoteLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GR_Get_Account</name>
        <label>Get Account</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_Assign_Updated_Details_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Contact_1</name>
        <label>Get Contact</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>V_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Contact_2</name>
        <label>Get Contact</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_Assign_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Opportunity_1</name>
        <label>Get Opportunity</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GR_Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>V_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>V_OpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GR_Get_Opportunity_2</name>
        <label>Get Opportunity</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>A_Assign_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UR_Update_Account_Default_Pricebook</name>
        <label>Update Account Default Pricebook</label>
        <locationX>512</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>A_Assign_Quote_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QQ_Default_Price_Book__c</field>
            <value>
                <elementReference>OpportunityRecord.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UR_Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>512</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>S_Create_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>V_QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>S_Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>512</locationX>
        <locationY>3278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AA_Redirect_to_Quote</targetReference>
        </connector>
        <fields>
            <name>DT_Confirmation_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your Quote and related records have been created successfully.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Next, submit the quote for approval and then email it to the customer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Open Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CR_Create_Opportunity_1</targetReference>
        </connector>
        <fields>
            <name>DT_Opportunity_Details_1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opportunity Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Create_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Create_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>OpportunityRecord.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>OpportunityRecord.Pricebook2Id</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Create_Opportunity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>OpportunityRecord.CloseDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>OpportunityRecord.Type</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Create_PDF</name>
        <label>Create PDF</label>
        <locationX>512</locationX>
        <locationY>2870</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D_Create_PDF</targetReference>
        </connector>
        <fields>
            <name>DT_Create_PDF</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Create PDF&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Create_PDF_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Create_PDF_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CB_Create_PDF</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Create PDF</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Create_PDF_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PL_Quote_Template</name>
                    <choiceReferences>C_DefaultQuoteTemplate</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>C_DefaultQuoteTemplate</defaultSelectedChoiceReference>
                    <fieldText>Quote Template</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CB_Create_PDF</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DT_Error_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;This workflow can only be launched from an Account, Contact, Opportunity, or Bill Data record, or from the Global Action.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Quote_Products</name>
        <label>Quote Products</label>
        <locationX>512</locationX>
        <locationY>2546</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CR_Create_Quote_Line_Items</targetReference>
        </connector>
        <fields>
            <name>DT_Quote_Products_Heading</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Add Quote Products&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LWC_QuoteProducts</name>
            <extensionName>c:qqProductsTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pricebookId</name>
                <value>
                    <elementReference>QuoteRecord.Pricebook2Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>V_QuoteId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Select_Create_Account</name>
        <label>Select/Create Account</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D_New_Existing_Account</targetReference>
        </connector>
        <fields>
            <name>DT_Account_Details</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Account Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LU_Select_Account</name>
            <choiceReferences>RC_Accounts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Account</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Accounts</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CB_Create_New_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CB_Create_New_Account</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create New Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S_Select_Create_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Select_Create_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountRecord.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountRecord.Industry</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Select_Create_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountRecord.Phone</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CB_Create_New_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S_Select_Create_Account_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Select_Create_Account_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountRecord.BillingAddress</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Select_Create_Account_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>AccountRecord.ShippingAddress</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CB_Create_New_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_Contact_Details</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Contact Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CB_Create_New_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S_Select_Create_Account_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Select_Create_Account_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactRecord.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Select_Create_Account_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactRecord.Title</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactRecord.Email</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactRecord.MobilePhone</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CB_Create_New_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Select_Create_Contact_Opportunity</name>
        <label>Select/Create Contact &amp; Opportunity</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D_New_Existing_Contact</targetReference>
        </connector>
        <fields>
            <name>DT_Contact_Details_2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Contact Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PL_Select_Contact</name>
            <choiceReferences>RC_Contacts</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>V_ContactId</elementReference>
            </defaultValue>
            <fieldText>Select Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CB_Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CB_Create_New_Contact</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create New Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S_Select_Create_Contact_Opportunity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Select_Create_Contact_Opportunity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactRecord.Name</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Select_Create_Contact_Opportunity_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactRecord.Title</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactRecord.MobilePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactRecord.Email</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CB_Create_New_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DT_Opportunity_Details</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Opportunity Details:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PL_Select_Opportunity</name>
            <choiceReferences>RC_Opportunities</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>V_OpportunityId</elementReference>
            </defaultValue>
            <fieldText>Select Opportunity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CB_Create_New_Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CB_Create_New_Opportunity</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create New Opportunity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S_Select_Create_Contact_Opportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Select_Create_Contact_Opportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>OpportunityRecord.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>OpportunityRecord.Pricebook2Id</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_Select_Create_Contact_Opportunity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>OpportunityRecord.CloseDate</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>OpportunityRecord.Type</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CB_Create_New_Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>501</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>D_First_Run</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SF_Run_Initial_Config</name>
        <label>Run Initial Config</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <flowName>QQ_Config_Settings_First_Run</flowName>
    </subflows>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
